/* Start Varibales */
:root {
    --section-pading:60px;
}
/* End Varibales */
/* Start components */
.cta-btn {
    display: block;
    width: 280px;
    padding: 15px;
    margin: auto;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    border-radius: 30px;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-decoration: none;
}
/* End components */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color:  hsl(218, 28%, 13%);
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small Screens */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* Medium Screens */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/* Large Screens */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
/* End Global Rules */
/* Start Header */
.header {
    padding: 15px;
    background-color: #1c2230;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo img{
    width: 120px;
}
.header .links ul {
    list-style: none;
    font-family: 'Raleway', sans-serif;
}
.header .links ul li {
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
}
.header .links ul li a{
    text-decoration: none;
    color: white;
}
/* End header */
/* Start intro */
.intro {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #1c2230;
    background-image: url(../images/bg-curvy-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom; 
     padding-top: var(--section-pading);
    padding-bottom: var(--section-pading);
}
@media (max-width:768px) {
.intro .intro-image img{
    width: 100%;
}
}
.intro .text {
    margin: auto;
}

/* Medium Screens */
@media (min-width:992px) {
    .intro .text {
        width: 50%;
    }
}
.intro .text h3 {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}
.intro .text p {
    line-height: 1.6;
    font-size: 17px;
    margin-top: -10px;
}
/* End intro */
/* Start Features  */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
}
.features .container {
    display: grid;
    grid-gap: 20px;
}
@media (min-width:768px) {
    .features .container {
        grid-template-columns: 1fr 1fr;
    }
}
.features .feat {
    padding: 20px;
    text-align: center;
    color: white;
}
.features .feat p {
    margin: auto;
    line-height: 1.6;
    font-size: 14px;
}
/* End Features */
/* Start about */
.about {
    padding-top: var(--section-pading);
    padding-bottom: var(--section-pading);
}
.about .container {
    display: flex;
}
@media (max-width:991px) {
    .about .container {
        flex-direction: column;
    }
}
.about .container .image img {
    max-width: 450px;
}
@media (max-width:768px) {
.about .container .image img { 
    max-width: 335px;
}
}
.about .content {
    padding: 20px;
    color: white;
}
.about .content h3 { 
    font-size: 18px;
}

@media (min-width:991px) { 
    .about .content h3 { 
    width: 75%;
    }
}

@media (min-width:1200px) { 
    .about .content h3 { 
    width: 50%;
    }
}
.about .content p { 
    line-height: 1.6;
    font-size: 14px;
}
.about .content .link {
    border-bottom: 1px solid hsl(176, 68%, 64%);
    display: flex;
    justify-content: space-between;
    width: fit-content;
    padding-top:4px;
    padding-bottom:4px;
}
.about .content .link a {
    color: hsl(176, 68%, 64%);
    text-decoration: none;
    margin-right: 8px;
}
/* End about */
/* Start team section */
.team {
    padding-top: var(--section-pading);
    padding-bottom: var(--section-pading);
}
.team .container .testimonials {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
    position: relative;
}
.team .container .testimonials::before {
    position: absolute;
    content: url(../images/bg-quotes.png);
    top: -35px;
    left: -10px;
    z-index: -1;
}
.team .container .testimonials .te {
    background-color:  hsl(219, 30%, 18%);
    padding: 20px;
    color: white;
    border-radius: 6px;
 }
 
.team .container .testimonials .te p { 
    line-height: 1.6;
}

.team .container .testimonials .te img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
 }
 .team .container .testimonials .te .person {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
 }
 .team .container .testimonials .te .person .person-name {
     margin-left: 10px;
     font-size: 8px;
 } 
 .team .container .testimonials .te .person .person-name span{
    display: block;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5px;
 }
/* End team section */
/* Start contact */
.contact {
    background-color: #1c2230;
    margin: auto;
    padding: 30px;
    color: white;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 5px 15px #131720;
    transform: translateY(50%);
}
@media (min-width:991px) {
    .contact { 
        width: 860px;
    }
}
.contact h3 {
    font-size: 28px;
}
.contact input[type=email] {
    display: inline-block;
    padding: 15px;
    border-radius: 30px;
    margin-right: 30px;
}
@media (min-width:991px) {
    .contact input[type=email] {
        width: 550px;
    }
.contact input[type=email]:focus {
    outline: 0;
}
.contact .cta-btn {
    display: inline-block;
    width: 200px;
}
/* End contact */
.footer {
    background-color: #0c1524;
    padding-top: 200px;
    padding-bottom: 100px;
    color: white;
}
.footer a:hover {
    text-decoration: underline;
  }
  .footer a {
      text-decoration: none;
      color: white;
  }
  .footer .container, .footer .container--small {
    display: -ms-grid;
    display: grid;
    grid-row-gap: 35px;
    grid-column-gap: 0px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "logo" "address" "contact" "links1" "links2" "social";
  }
  @media screen and (min-width: 699px) {
    .footer .container, .footer .container--small {
      grid-column-gap: 25px;
    }
  }
  @media screen and (min-width: 999px) {
    .footer .container, .footer .container--small {
      grid-column-gap: 35px;
      -ms-grid-columns: 3fr 2fr 2fr 2fr auto;
          grid-template-columns: 3fr 2fr 2fr 2fr auto;
      -ms-grid-rows: 60px 1fr;
          grid-template-rows: 60px 1fr;
          grid-template-areas: "logo logo logo logo logo" "address contact links1 links2 social";
    }
  }
  @media screen and (min-width: 1399px) {
    .footer .container, .footer .container--small {
      grid-column-gap: 60px;
    }
  }
  
@media screen and (min-width: 999px) {
    .footer__logo {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      grid-area: logo;
    }
  }
  .footer__address {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: address;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
.footer__address svg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 13px;
            flex: 0 0 13px;
    margin-top: 3px;
    margin-right: 20px;
  }
  
  .footer__contact {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: contact;
  }
  
  @media screen and (min-width: 999px) {
    .footer__contact {
      -ms-grid-column-align: right;
          justify-self: right;
    }
  }
  
  .footer__contact a {
    font-size: 0.875rem;
  }
  
  .footer__contact-phone, .footer__contact-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .footer__contact-phone {
    margin-bottom: 20px;
  }
  
  .footer__contact-phone svg {
    width: 18px;
    margin-right: 20px;
  }
  
  .footer__contact-email svg {
    width: 20px;
    margin-right: 20px;
  }
  
  .footer__links1 a, .footer__links2 a {
    display: block;
    margin-bottom: 20px;
  }
  
  .footer__links1 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: links1;
  }
  
  @media screen and (min-width: 999px) {
    .footer__links1 {
      -ms-grid-column-align: right;
          justify-self: right;
    }
  }
  
  .footer__links2 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: links2;
  }
  
  .footer__social {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: social;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  
  @media screen and (min-width: 699px) {
    .footer__social {
      -ms-grid-column-align: start;
          justify-self: start;
    }
  }
  
  .footer__social svg {
    width: 35px;
    height: 35px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 8px;
    fill: #ffffff;
    margin-right: 16px;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  
  .footer__social svg:hover {
    background-color: rgba(255, 255, 255, 0.8);
    fill: #0a1423;
  }